.stick {
  background: gray;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  z-index: 111;
}

.box {
  display: block;
  transform: translate(100px, 100px);
}

.bg {
  display: block;
  position: absolute;
  z-index: -1111;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: cyan;
  transform: translate(-50px, -150px);
}
